<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="globalPackagesFolder" value="%USERPROFILE%\Documents\DCS\Nuget" />
	</config>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="DCS.Local" value="%USERPROFILE%\Documents\DCS\Nuget" />
		<add key="Telerik" value="https://nuget.telerik.com/v3/index.json" />
		<add key="Verheyden-Tech" value="https://nuget.pkg.github.com/Verheyden-Tech/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<Verheyden-Tech>
			<add key="Username" value="ElCartmanBra420" />
			<add key="ClearTextPassword" value="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" />
		</Verheyden-Tech>
	</packageSourceCredentials>
</configuration>